<template>
  <div class="card bg-base-200 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{{ actor.name }}</h2>
      <p>{{ actor.job }}</p>
      <div class="card-actions justify-end">
        <router-link
          :to="{ name: 'actor', params: { id: actor.id } }"
          class="btn btn-primary"
          >{{ $t("message.actors.see") }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from "vue";
import { Cast } from "@/types/cast";

interface Props {
  actor: Cast;
}

defineProps<Props>();
</script>
