<template>
  <div class="card w-full md:w-1/2 lg:w-1/3 image-full mb-3 px-3">
    <figure>
      <img :src="getPosterPath(props.movie)" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ props.movie.title }}</h2>
      <p>{{ props.movie.overview }}</p>
      <div class="card-actions justify-end">
        <router-link
          :to="{ name: 'movie', params: { id: props.movie.id } }"
          class="btn btn-primary"
          >{{ $t("message.details.label") }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Movie } from "@/types/movies";
import { defineProps } from "vue";
import { getPosterPath } from "@/lib/movies";

interface Props {
  movie: Movie;
}

const props = defineProps<Props>();
</script>
