<template>
  <div
    v-for="movie in props.movies"
    v-bind:key="movie.id"
    class="card lg:card-side bg-base-100 shadow-xl p-2"
  >
    <img :src="getPosterPath(movie)" class="max-w-[200px] mx-auto" />
    <div class="card-body">
      <h2 class="card-title">{{ movie.title }}</h2>
      <p>{{ movie.overview }}</p>
      <div class="card-actions justify-end">
        <router-link
          :to="{ name: 'movie', params: { id: movie.id } }"
          class="btn btn-primary"
          >Details
        </router-link>

        <button
          class="btn btn-outline btn-primary"
          @click="favoriteMoviesStore.toggleFavorite(movie)"
        >
          <svg
            aria-hidden="true"
            class="w-5"
            fill="currentColor"
            v-bind:class="{
              'text-red-500': favoriteMoviesStore.isFavorite(movie),
              'text-gray-500': !favoriteMoviesStore.isFavorite(movie),
            }"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
              fill-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from "vue";
import { Movie } from "@/types/movies";
import { useFavoriteMoviesStore } from "@/store/movies";
import { getPosterPath } from "@/lib/movies";

const favoriteMoviesStore = useFavoriteMoviesStore();

interface Props {
  movies?: Array<Movie>;
}

const props = defineProps<Props>();
</script>
