<template>
  <li v-bind:key="locale" v-for="locale in localeStore.availableLocales">
    <a
      href="#"
      class="link mr-2 uppercase no-underline"
      v-bind:class="{ 'text-[#42b983]': localeStore.locale === locale }"
      @click.prevent="changeLocale(locale)"
    >
      {{ locale }}
    </a>
  </li>
</template>

<script setup lang="ts">
import { useLocaleStore } from "@/store/localeStore";
import { useI18n } from "vue-i18n";

const i18n = useI18n();

const localeStore = useLocaleStore();

const changeLocale = (locale: string) => {
  localeStore.setLocale(locale);

  i18n.locale.value = locale;
};
</script>
