<template>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li>
            <router-link to="/" class="text-[#2c3e50] dark:text-white">
              {{ $t("message.home") }}
            </router-link>
          </li>
          <li tabindex="0">
            <router-link
              :to="{ name: 'movies' }"
              class="text-[#2c3e50] dark:text-white"
            >
              {{ $t("message.movies") }}
            </router-link>
          </li>
          <li>
            <router-link
              :to="{ name: 'favorites' }"
              class="text-[#2c3e50] dark:text-white"
            >
              {{ $t("message.your_favorites") }}
            </router-link>
          </li>
        </ul>
      </div>
      <router-link to="/" class="btn btn-ghost normal-case text-xl"
        >Webflix</router-link
      >
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li>
          <router-link to="/" class="text-[#2c3e50] dark:text-white">
            {{ $t("message.home") }}
          </router-link>
        </li>
        <li tabindex="0">
          <router-link
            :to="{ name: 'movies' }"
            class="text-[#2c3e50] dark:text-white"
          >
            {{ $t("message.movies") }}
          </router-link>
        </li>
        <li>
          <router-link
            :to="{ name: 'favorites' }"
            class="text-[#2c3e50] dark:text-white"
          >
            {{ $t("message.your_favorites") }}
          </router-link>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="dropdown dropdown-hover">
        <label tabindex="0" class="btn m-1">
          {{ $t("message.language") }}
        </label>
        <ul
          tabindex="0"
          class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
        >
          <TheLocaleSwitcher />
        </ul>
      </div>
    </div>
  </div>
</template>

<style>
.router-link-exact-active {
  color: #42b983 !important;
}
</style>

<script>
import TheLocaleSwitcher from "@/components/layout/TheLocaleSwitcher";

export default {
  components: { TheLocaleSwitcher },
};
</script>
