<template>
  <Head>
    <title>{{ t("message.actors.label") }}</title>
  </Head>
  <div>
    <section class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <img
          :src="getActorImage(actor?.profile_path)"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <div>
          <h1 class="text-5xl font-bold">{{ actor?.name }}</h1>
          <p class="py-6">
            {{ actor?.biography }}
          </p>
        </div>
      </div>
    </section>
    <section>
      <Suspense>
        <MovieList :movies="actor?.movie_credits?.cast" />
      </Suspense>
    </section>
  </div>
</template>

<script lang="ts" setup>
import { Head } from "@vueuse/head";
import { getActorImage } from "@/lib/actors";
import { defineProps, ref, watchEffect } from "vue";
import { api } from "@/lib/api";
import { ActorWithMovieCreditsApiResponse } from "@/types/actors";
import MovieList from "@/components/movies/MovieList.vue";
import { useI18n } from "vue-i18n";

// Fixes a bug that causes the i18n plugin to not work properly when changing locale
const { t } = useI18n();

interface Props {
  id: string;
}

const props = defineProps<Props>();

const actor = ref<ActorWithMovieCreditsApiResponse>();

watchEffect(async () => {
  const id = props.id;
  if (id) {
    // fetch actor details
    const personResponse = await api.get(
      `/person/${id}?append_to_response=movie_credits`
    );

    actor.value = personResponse.data;
  }
});
</script>
