<template>
  <Head>
    <title>{{ t("message.favorites") }}</title>
  </Head>
  <div>
    <h1 class="font-bold text-2xl">{{ $t("message.favorites") }}</h1>

    <MovieList :movies="favoritesStore.favoriteMovies" />
  </div>
</template>

<script setup lang="ts">
import { useFavoriteMoviesStore } from "@/store/movies";
import MovieList from "@/components/movies/MovieList.vue";
import { Head } from "@vueuse/head";
import { useI18n } from "vue-i18n";

// Fixes a bug that causes the i18n plugin to not work properly when changing locale
const { t } = useI18n();

const favoritesStore = useFavoriteMoviesStore();
</script>
