<script lang="ts" setup>
import { Head } from "@vueuse/head";
import { useI18n } from "vue-i18n";
import { api } from "@/lib/api";
import { ref, watchEffect } from "vue";
import { useLocaleStore } from "@/store/localeStore";
import MovieCard from "@/components/movies/MovieCard.vue";
import { Movie } from "@/types/movies";

// Fixes a bug that causes the i18n plugin to not work properly when changing locale
const { t } = useI18n();

const localeStore = useLocaleStore();

const upcoming = ref<Array<Movie>>();

watchEffect(async () => {
  const upcomingResponse = await api.get("/movie/upcoming", {
    params: {
      language: localeStore.locale,
    },
  });

  upcoming.value = upcomingResponse.data.results.slice(0, 6);
});
</script>

<template>
  <div>
    <Head>
      <title>{{ t("message.home") }}</title>
    </Head>
    <h1 class="font-bold text-2xl p-5">{{ t("message.movie.upcoming") }}</h1>

    <div class="flex flex-row flex-wrap">
      <MovieCard v-for="movie in upcoming" :key="movie.id" :movie="movie" />
    </div>
  </div>
</template>
