<template>
  <Head>
    <title>{{ t("message.movies") }}</title>
  </Head>
  <section>
    <h1 class="font-bold text-2xl">Movies</h1>
    <Suspense>
      <MovieList :movies="data.results" />
    </Suspense>
    <Suspense>
      <div class="w-1/2 mx-auto flex justify-center my-3">
        <AppPagination
          :currentPage="page"
          :perPage="20"
          :totalPages="data.total_pages ?? 0"
          @pageChanged="onPageChange"
        />
      </div>
    </Suspense>
  </section>
</template>

<script lang="ts" setup>
import { api } from "@/lib/api";
import { Head } from "@vueuse/head";
import { ref, watchEffect } from "vue";
import { useRoute, useRouter } from "vue-router";
import AppPagination from "@/components/common/AppPagination.vue";
import MovieList from "@/components/movies/MovieList.vue";
import { MovieApiResponse } from "@/types/movies";
import { useLocaleStore } from "@/store/localeStore";
import { useI18n } from "vue-i18n";

// Fixes a bug that causes the i18n plugin to not work properly when changing locale
const { t } = useI18n();

const localeStore = useLocaleStore();
const route = useRoute();
const router = useRouter();

let page = ref(route?.query?.page || 1);
let data = ref<MovieApiResponse>({
  results: [],
  page: 1,
  total_pages: 1,
  total_results: 0,
});

watchEffect(async () => {
  try {
    const response = await api.get("/movie/popular", {
      params: {
        page: page.value,
        language: localeStore.locale,
      },
    });

    data.value = response.data;
  } catch (e) {
    router.push("/404");
  }
});

const onPageChange = async (name: number) => {
  if (!route.name) return;
  await router.push({
    name: route.name,
    query: {
      page: name,
    },
  });

  page.value = name;
};
</script>
