<template>
  <Head>
    <title>{{ t("message.details.label") }}</title>
  </Head>
  <div>
    <section class="hero bg-base-200">
      <div class="hero-content flex-col lg:flex-row">
        <img
          :src="getPosterPath(movie)"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <div>
          <h1 class="text-5xl font-bold">{{ movie?.title }}</h1>
          <span class="mt-1 text-sm">Genres : {{ genres }}</span>
          <p class="py-6">{{ movie?.overview }}</p>
          <button
            class="btn btn-outline btn-primary"
            @click="favoriteMoviesStore.toggleFavorite(movie)"
          >
            <svg
              aria-hidden="true"
              class="w-5"
              fill="currentColor"
              v-bind:class="{
                'text-red-500': favoriteMoviesStore.isFavorite(movie),
                '': !favoriteMoviesStore.isFavorite(movie),
              }"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                fill-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
    </section>
    <section class="overflow-hidden sm:rounded-lg my-5">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium">Informations</h3>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium">
              {{ t("message.details.release_date") }}
            </dt>
            <dd class="mt-1 text-sm">{{ movie?.release_date }}</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium">
              {{ t("message.details.duration") }}
            </dt>
            <dd class="mt-1 text-sm">{{ movie?.runtime }} minutes</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium">
              {{ t("message.details.note") }}
            </dt>
            <dd class="mt-1 text-sm">
              {{ movie?.vote_average }}/10 ({{ movie?.vote_count }} votes)
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium">
              {{ t("message.details.budget") }}
            </dt>
            <dd class="mt-1 text-sm">
              {{
                Intl.NumberFormat(
                  localeStore.locale === "en" ? "en-US" : "fr",
                  {
                    style: "currency",
                    currency: "USD",
                    maximumFractionDigits: 0,
                  }
                ).format(movie?.budget)
              }}
            </dd>
          </div>
        </dl>
      </div>
    </section>
    <section class="bg-base-200">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium">
          {{ t("message.suggestions") }}
        </h3>
      </div>
      <div
        class="border-t border-gray-200 px-4 py-5 sm:px-6 flex flex-wrap justify-center md:justify-between"
      >
        <MovieCard
          v-for="suggestion in suggestions"
          :key="suggestion.id"
          :movie="suggestion"
        />
      </div>
    </section>

    <section class="mt-10 w-[95%] mx-auto">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium">
          {{ $t("message.actors.label") }}
        </h3>
      </div>
      <div class="grid grid-cols-3 gap-x-3 gap-y-5">
        <ActorCard
          v-for="actor in actors"
          v-bind:key="actor.id"
          :actor="actor"
        />
      </div>
    </section>
  </div>
</template>

<script lang="ts" setup>
import { defineProps, ref, watchEffect } from "vue";
import { api } from "@/lib/api";
import { Head } from "@vueuse/head";
import { useLocaleStore } from "@/store/localeStore";
import { Movie, MovieCreditsApiResponse, MovieDetails } from "@/types/movies";
import { useFavoriteMoviesStore } from "@/store/movies";
import { getPosterPath } from "@/lib/movies";
import { Genre } from "@/types/genres";
import { shuffleArray } from "@/lib/helpers";
import { useI18n } from "vue-i18n";
import ActorCard from "@/components/actors/ActorCard.vue";
import { Cast } from "@/types/cast";
import MovieCard from "@/components/movies/MovieCard.vue";
import { useRouter } from "vue-router";

// Fixes a bug that causes the i18n plugin to not work properly when changing locale
const { t } = useI18n();

interface Props {
  id: string;
}

const router = useRouter();
const localeStore = useLocaleStore();
const favoriteMoviesStore = useFavoriteMoviesStore();

const props = defineProps<Props>();

const movie = ref<MovieDetails>();
const genres = ref<Array<Genre>>([]);
const suggestions = ref<Array<Movie>>([]);
const credits = ref<MovieCreditsApiResponse>();
const actors = ref<Array<Cast>>();

watchEffect(async () => {
  try {
    const response = await api.get(`/movie/${props.id}`, {
      params: {
        language: localeStore.locale,
      },
    });

    movie.value = response.data;

    genres.value = response.data.genres
      .map((genre: Genre) => genre.name)
      .join(", ");

    const suggestionsResponse = await api.get("/discover/movie", {
      params: {
        with_genres:
          movie.value && movie.value.genres
            ? movie.value.genres.map((genre: Genre) => genre.id).join(",")
            : "",
        language: localeStore.locale,
      },
    });

    suggestions.value = shuffleArray(suggestionsResponse.data.results).slice(
      0,
      6
    );

    const creditsResponse = await api.get(`/movie/${props.id}/credits`, {
      params: {
        language: localeStore.locale,
      },
    });

    credits.value = creditsResponse.data;
    actors.value = credits.value?.cast.filter(
      (member) => member?.known_for_department === "Acting" // does not change, only english is supported
    );
  } catch (e) {
    await router.push("/404");
  }
});
</script>
