<template>
  <div class="btn-group">
    <button
      class="btn"
      type="button"
      @click="onClickFirstPage"
      :disabled="isInFirstPage"
    >
      {{ $t("message.pagination.first") }}
    </button>

    <button
      class="btn"
      type="button"
      @click="onClickPreviousPage"
      :disabled="isInFirstPage"
    >
      {{ $t("message.pagination.previous") }}
    </button>

    <button
      class="btn"
      v-for="page in pages"
      :key="page.name"
      type="button"
      :disabled="page.isDisabled"
      @click="onClickPage(page.name)"
    >
      {{ page.name }}
    </button>

    <button
      class="btn"
      type="button"
      @click="onClickNextPage"
      :disabled="isInLastPage"
    >
      {{ $t("message.pagination.next") }}
    </button>

    <button
      class="btn"
      type="button"
      @click="onClickLastPage"
      :disabled="isInLastPage"
    >
      {{ $t("message.pagination.last") }}
    </button>
  </div>
</template>

<script setup lang="ts">
import { computed, defineEmits, defineProps, withDefaults } from "vue";

type Page = {
  name: number;
  isDisabled: boolean;
};

interface Props {
  maxVisibleButtons?: number;
  totalPages: number;
  currentPage: number;
  perPage: number;
}

const props = withDefaults(defineProps<Props>(), {
  maxVisibleButtons: 3,
});

const startPage = computed(() => {
  // When on the first page
  if (props.currentPage === 1) {
    return 1;
  }

  // When on the last page
  if (props.currentPage === props.totalPages) {
    return props.totalPages - props.maxVisibleButtons;
  }

  // When inbetween
  return props.currentPage - 1;
});

let pages = computed(() => {
  const range: Array<Page> = [];

  for (
    let i = startPage.value;
    i <=
    Math.min(startPage.value + props.maxVisibleButtons - 1, props.totalPages);
    i++
  ) {
    range.push({
      name: i,
      isDisabled: i === props.currentPage,
    });
  }

  return range;
});

const isInFirstPage = computed(() => props.currentPage === 1);
const isInLastPage = computed(() => props.currentPage === props.totalPages);

const emit = defineEmits(["pageChanged"]);

const onClickFirstPage: () => void = () => {
  emit("pageChanged", 1);
};

const onClickPreviousPage: () => void = () => {
  emit("pageChanged", props.currentPage - 1);
};

const onClickNextPage: () => void = () => {
  emit("pageChanged", props.currentPage + 1);
};

const onClickLastPage: () => void = () => {
  emit("pageChanged", props.totalPages);
};

const onClickPage: (page: number) => void = (page: number) => {
  emit("pageChanged", page);
};
</script>
