<script lang="ts" setup>
import TheNavbar from "@/components/layout/TheNavbar.vue";
import { useI18n } from "vue-i18n";
import { useLocaleStore } from "@/store/localeStore";

const { locale } = useI18n();
const localeStore = useLocaleStore();

locale.value = localeStore.locale;
</script>

<template>
  <TheNavbar />
  <RouterView />
</template>

<style>
body {
  overflow-x: hidden;
}
</style>
